################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Xabe.OpenSubtitlesApi/bin
/packages
/Xabe.OpenSubtitlesApi/obj
/Xabe.OpenSubtitlesApi/Properties/PublishProfiles
